    <!-- Blog Section -->
    <section id="blog" class="content-section text-center">
        <div class="blog-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <a href="http://blog.fengtingzhang.com" class="btn btn-default btn-lg">BLog</a>
                    <a href="http://fengtingzhang.gitbooks.io/blog/content/" class="btn btn-default btn-lg">GitBook</a>
                    <br><br>
                    <a href="#marks" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
