    <!-- Blog Section -->
    <section id="blog" class="content-section text-center">
        <div class="blog-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <a href="http://moreofsusan.blogspot.com/" class="btn btn-default btn-lg">Visit BLog</a>
                    <br><br>
                    <a href="#marks" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
